<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="contact.touched && !contact.valid">
      <div class="alert alert-danger">Invalid data!</div>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="5"
        maxlength="20"
        pattern="banana"
        ngModel name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control">
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid" >
          <div *ngIf="firstName.errors!['required']">
            First name is required!
          </div>
          <div *ngIf="firstName.errors!['minlength']">
            First name should be minimum of {{ firstName.errors!['minlength'].requiredLength }} characters.
          </div>
          <div *ngIf="firstName.errors!['maxlength']">
            First name should be maximum of 10 characters.
          </div>
          <div *ngIf="firstName.errors!['pattern']">
            First name should be of "banana" pattern.
          </div>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        ngModel name="comment"
        id="comment"
        rows="10"
        cols="30"
        class="form-control">
      </textarea>
    </div>

    <div class="checkbox">
      <label for="">
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
      </label>
    </div>

    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select ngModel name="contactMethod" id="contactMethod" class="form-select form-control">
        <option *ngFor="let method of contactMethods" [ngValue]="method">
          {{ method.name }}
        </option>
      </select>
    </div>
    <br>
    <p>
      {{ f.value | json }}
    </p>
  </div>
  <br>

  <button class="btn btn-primary" [disabled]="!f.valid">
    Submit
  </button>

</form>
